body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

header {
  width: 100%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(50, 50, 50, .3);
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, .3);
  z-index: 1;

}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 62px 0 45px;
}

.title {
  font-size: 1.3rem;
}

.nav-btn {
  margin-left: auto;
}

.login-btn,
.signup-btn {
  margin: 0 3px;
  font-weight: 600;
  cursor: pointer;
  width: 6rem;
  transition: background-color 1s;
}

.login-btn:hover {
  margin: 0 3px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(209, 205, 205);

}

.signup-btn:hover {
  margin: 0 3px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(185, 109, 109);


}

.login-btn {
  font-weight: 400px;
  border: none;
  background-color: #fff;

}

.all-tools {
  font-weight: 400px;
  border: none;
  background-color: #fff;

}

.signup-btn {
  padding: 0 13px;
  background-color: #ED6A5A;
  color: #fff;
  border: none;
}

.nav-btn button {
  height: 31px;
  border-radius: 3px;
  cursor: pointer;
  width: 6rem;
}

body {
  height: auto;
  width: 100%;
}

/* // Container */

.home-container {
  width: 100%;

}

.intro {
  height: auto;
  padding: 2rem 4rem;
  text-align: center;
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(126, 99, 99, 0.46);
  background-color: #5d576b;
  flex-direction: column;
  text-align: center;
  padding: 5px 7px;
}

.tools-container h2 {
  margin: 25px 0 0 0;
  font-size: 3em;
  width: 100%;
  color: #f5f5fa;
}

.home-desc {
  color: #f5f5fa;
  margin: 5px 0 30px 0
}

.img {
  margin: 5px;
}

.img img {
  object-fit: contain;
  max-height: 48px;
  max-width: 48px;


}

.card-title {
  display: flex;
  align-items: center;
}


.toolcard {
  margin: 7px;
  border-radius: 8px;
  background-color: #f5f5fa;
  width: 46%;
  height: 105px;
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 2px 6px;

}

a {
  text-decoration: none;
}

.toolcard:hover {
  cursor: pointer;
  background-color: #a6a3ad;
  color: #fff;
  box-shadow: 4px 4px 10px 3px rgba(21, 21, 21, 0.3);
  transition: background-color 0.3s ease-out,
    box-shadow 0.3s ease-out,
    color 0.3s ease-out;


}

.toolcard:hover .card-title p,
.toolcard:hover p {
  color: #fff;
  /* Change the text color to white when hovering over .toolcard */
}


.toolcard p {
  margin: 0;
  opacity: 0.7;
  text-align: start;
  padding: 4px 0 4px 49px;
  font-size: 12px;
}

.card-title p {
  opacity: 1;
  font-size: 20px;
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

@media (width <= 780px) {
  .toolcard{
    width: 100%;
  }
  
}
@media (width <= 630px) {
  .toolcard{
    width: 100%;
  }

  .all-tools,.login-btn{
    display: none;
  }
  
}

/* faq container */

.faq-container {
  background-color: #e5ebdf;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.faq-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-title h2 {
  margin: 0 0 10px 0;
}

.Q-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Q {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Q h2 {
  margin-bottom: 0;
  text-align: center;
}

.Q p {
  margin-top: 6px;
  text-align: center;
  opacity: 0.7;
}

/* footer  */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}


.container2 {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  width: -webkit-fill-available;

}

.iconGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconGroup svg {
  margin: 0 4px;
  opacity: 0.7;
}

.iconGroup svg:hover {
  margin: 0 4px;
  opacity: 1;
  cursor: pointer;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.routes {
  text-align: center;
}

.routes a:hover {
  color: rgb(0, 128, 255);
  cursor: pointer;
}

.hr {
  width: 100%;
}

/*  work area */

.work-area,
.download-area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  background-color: #f5f5fa;
}

.work-area-info,
.download-area-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 1;
  /* Ensure it appears above other content */
  color: white;
}





.work-area footer {
  position: relative;
  bottom: 0;
}

.work-area h1 {
  margin-bottom: 0;
  font-size: 3rem;
}

.work-area-foot {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  padding: 4px 12px;
  width: -webkit-fill-available;

}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 0px dashed grey;
  display: inline-block;
  padding: 13px 20px;
  cursor: pointer;
  border-radius: 11px;
  height: 2rem;
  width: 12.5rem;
  background-color: #ED6A5A;
  text-align: center;
  box-shadow: 4px 3px 9px 1px;
}

.custom-file-upload:hover,
.download-btn:hover {
  box-shadow: 11px 5px 9px 1px;
  background-color: #c23322;
  transition: box-shadow 0.4s ease-out,
    background-color 0.4s ease-in-out;
}

.doc-preview-area {
  display: flex;
  padding: 8px 4px;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(100% - 380px);
}

.doc {
  background-color: #fcfcfc;
  margin: 4px;
  width: 198px;
  height: 244px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fdfdfd;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .08);
  justify-content: space-around;
}

.doc:hover {
  border: 1px solid #9999a2;
  transition: all .2s ease-out;
}

.doc-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.doc span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.react-pdf__Page__canvas {
  width: 123px !important;
  height: 175px !important;
  margin: auto;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
}

.textLayer,
.annotationLayer {
  display: none !important;
}


/* side panel */

.side-panel {
  position: absolute;
  background-color: #ffffff;
  right: 0;
  top: 0;
  bottom: 0;
  width: 380px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;


}

.side-panel h1{
  padding-bottom: 12px;
  border-bottom: 1px solid #707078;
  font-size: 3rem;
}


h1 {
  margin-bottom: 20px;
}

.select-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.side-panel button {
  border: none;
  background-color: #ed6b5a;
  margin-top: auto;
  border-radius: 16px;
  height: 4rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.side-panel button:hover {
  background-color: #d16051;
}

.range{
  border-radius: 7px;
  background-color: #f0f0f0;
  padding: 5px;
}

.range p {
  margin: 8px;
}

.range-inputs {
  display: flex;
}

.range p {
  display: block !important;
}

.range-from,
.range-to {
  display: flex;
  font-size: 12px;
  margin: 0 auto;
  border: 1px solid #707078;
  border-radius: 4px;
  height: 45.6px;
}

.range-inputs {
  display: flex;
}

.range input {
  width: 72px;
  margin: 4px;
  padding: 11px;
  outline: none;
  border: none;
  border-left: 1px solid black;
  border: 0;
  border-radius: 0;
  top: 0;
  border-left: 1px solid #707078;

}

.range label {
  margin: auto;
  padding: 5px;
  width: ca;

}

.sidePanel-info{
  display: flex;
    flex-direction: column;
    padding: 7px 8px;
    margin-top: 1rem;
    border-radius: 4px;
    background-color: #e9e9eb;
}
.standard-password-input{
  padding: 5px 1px;
}

/* download page */

.download-btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 80px;
  min-width: 330px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 48px;
  font-weight: 500;
  font-size: 24px;
  background: #ed6b5a;
  line-height: 28px;
  vertical-align: middle;
  color: #fff !important;
  text-decoration: none;
  margin-bottom: 12px;
  -webkit-transition: background-color .1s linear;
  -o-transition: background-color .1s linear;
  transition: background-color .1s linear;
  border: 0;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .14);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .14);
  -ms-flex-order: 1;
  order: 1;
  max-width: 60vw;
}

.download-btn:hover {
  background-color: #d16051;
}